@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";

// Put your variable overrides here
//$book-background: white;
//$page-background: $book-background;
$color-border: #F7F7F7;

$sidebar-background: rgb(17,17,17);
$sidebar-show-nested-levels : true;
$sidebar-color: rgb(149,149,149);

$color-primary: rgb(189,189,189);
$color-text: black;

$heading-map : ( 
                color: $color-primary, 
                border-bottom: 1px solid $color-primary,
                font-family: $font-family-sans
                );

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";